body{
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #ffffff; 
	min-width: 1280px;
	min-height: 2762px;

	/*временно для сетки*/
  	background-repeat: no-repeat;
  	background-image: url(../img/background-sedona.jpg);
	width: 1200px;
	height: 800px;
	margin-bottom: 50px;
  	padding: 0;
}

a{
	text-decoration: none;
}

.hotels-page{
	background-image: none;
}

.button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 35px 140px 33px 139px;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
}

.button:hover{
	background-color: #766357;
}
.button:focus{
	background-color: #604e43;
}
.button:active{
	background-color: #503e33;
}

/*Стиль для навигации*/
.main-navigation{
	color: #000000;	
}

/*.main-navigation-list{
	list-style: none;
}*/

.main-navigation-list a{
	color: #000000;
	font-weight: 700;
}
/*Доступность*/
.main-navigation-list a:hover,
.main-navigation-list a:focus{
}
.main-navigation-list a:hover{
	color: #81b3d2;
}
.main-navigation-list a:active{
	color: #cacaca;

}

/*Не знаю как этот момент назвать правильно, это вроде девиз, 
но я не совсем уверена*/
.motto{
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	color: #000000;
}

/*Преимущества*/
.features-item{
	text-align: center;
}

.interested{
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000000;
}

.main-form{
	text-align: center;	
}
.estimated-dates{
	text-align: center;	
}

.form-reservation{
	font-weight: 700;
	text-transform: uppercase;
	list-style: none;
}

.form-reservation input{
	font: inherit;
	width: 346px;
	height: 38px;
	background-color: transparent;
	border: #ffffff;
	background-color: #f2f2f2;
}

.form-reservation input:hover{
	background-color: #ebebeb;
}
.form-reservation input:focus{
	border: 2px solid #e5e5e5;
	background-color: #ffffff;
}

.find-button{
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;

	padding: 17px 196px 22px 197px;
	background-color: #81b3d2;
	border: none;
}

.find-button:hover{
	background-color: #81b3d2;
}
.find-button:focus{
	background-color: #669ec0;
}
/*не очень понимаю, как тут убирается текст при нажатии на кнопку*/
.find-button:active{
	background-color: #5496bd;
}

/*для второй страницы*/

.catalog-body{
	background-color: 
}

.hotel-list{
	list-style: none;
}

.hotel h3{
	font-weight: 700;
}

.hotel-price{
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.detail{
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	line-height: 21px;	

	background-color: #81b3d2;
	border: none;
}

.detail:hover{
	background-color: #81b3d2;
}
.detail:focus{
	background-color: #669ec0;
}
.detail:active{
	background-color: #5496bd;
}

.reservation{
	color: #ffffff;
	font-weight: 700;
	line-height: 21px;

	background-color: #766357;
}

.reservation:hover{
	background-color: #766357;
}
.reservation:focus{
	background-color: #604e43;
}
.reservation:active{
	background-color: #503e33;
}

.rating{
	text-align: center;
	color: #666666;
	font-weight: 400;
	line-height: 21px;
	width: 110px;
	height: 27px;
	background-color: #f2f2f2;
}

/*Стили дли footer*/

.main-footer{
	padding: 25px 0;
	margin-top: 75px;
	min-height: 150px;

}

.hotels-page .main-footer{
	margin-top: 20px;
}

.main-footer .container {
  display: flex;
}

.visit{
	width: 300px;
	margin: 0;
	min-height: 150px;
	margin-right: 130px;
	font-size: 21px;
	font-weight: 700;
	color: #000000;
}

.footer-social{
	width: 200px;
	min-height: 150px;
		list-style: none;

}

.web-site{
	width: 300px;
	margin: 0;
	min-height: 150px;
	margin-left: auto;
	color: #000000;
}


.footer-social a{
	background-color: #81b3d2;
}

.footer-social a:focus{
	background-color: #669ec0;
}

.footer-social a:active{
	background-color: #5496bd;
}

.twitter{
	padding: 17px 15px 16px 14px;
}

.facebook{
	padding: 13px 17px 13px 17px;
}

.youtube{
	padding: 16px 13px 16px 13px;
}

.web-site{

}

/*Сеточные стили*/


.container {
  width: 1200px;
  margin-left: 40px;
}

.main-header{
	min-height: 50px;
	background-color: #ffffff;
}
.main-navigation{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 50px;
	background-color: transparent;
}

.logo{
	width: 140px;
	height: 72px;
	/*display: block;*/
}

.main-navigation-list{
	width: 1200px;
	padding: 0px;

	list-style: none;

	min-height: 56px;
	margin-top: 0px;
}

.main-navigation-wrapper{
	width: 100%;
	min-height: 56px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}



.container .background{
	display: flex;
	justify-content: center;	

}

.index-form{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 568px;
	min-height: 395px;

}

.main-form{
	display: flex;
	flex-direction: column;
	min-height: 280px;

}

.form-reservation{
	padding: 15px;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.li-1{
	padding-top: 20px;
}

.li-3{
	padding-bottom: 20px;
}

.li-3 input{
	width: 100px;
}

.main-hotel{
	min-height: 445px;
	margin-bottom: 0px;
}

.hotel-list{
	list-style: none;
}

.hotel{
	display: flex;
}

.imagin{
	margin-left: 35px;
	padding: 30px;
}

.block-1{
	display: flex;
	justify-content: space-between;
}


